Importamos la funcion get_coin_data y librerias necesarias

In [9]:
from get_data import get_coin_data
import pandas as pd

Obtenemos el data set de las 10 monedas con  capitalizacion de mercado grande para un lapso de 4 años y guardamos la informacion en csv para su posterior uso.

In [10]:
#Bitcoin
btc = get_coin_data('bitcoin', 1460)
#Ethereum
eth = get_coin_data('ethereum', 1460)
#Cardano
ada = get_coin_data('cardano', 1460)
#Binance Coin
bnb = get_coin_data('binancecoin', 1460)
#Uniswap
uni = get_coin_data('uniswap', 1460)
#Ripple
xrp = get_coin_data('ripple', 1460)
#Solana
sol = get_coin_data('solana', 1460)
#Polkadot
dot = get_coin_data('polkadot', 1460)
#Dogecoin
doge = get_coin_data('dogecoin', 1460)
#Litecoin
ltc = get_coin_data('litecoin', 1460)

Concatenamos los dataframes mediante llaves para luego poder identificar las monedas

In [11]:
df = pd.concat([btc, eth, ada, doge, bnb , ltc, xrp, dot , sol , uni], axis=0, keys=['btc', 'eth', 'ada', 'doge', 'bnb', 'ltc', 'xrp', 'dot', 'sol', 'uni'])

Resultado

In [12]:
df

           timestamp         price        volume    market_cap  \
btc 0     2019-08-12  11549.998354  2.304222e+10  2.063234e+11
    1     2019-08-13  11381.241356  1.993374e+10  2.034388e+11
    2     2019-08-14  10903.654992  2.288668e+10  1.947168e+11
    3     2019-08-15  10016.217389  2.662093e+10  1.786917e+11
    4     2019-08-16  10295.877143  3.100376e+10  1.838082e+11
...              ...           ...           ...           ...
uni 1054  2023-08-07      5.937120  6.918669e+07  4.475165e+09
    1055  2023-08-08      5.862997  1.036292e+08  4.416776e+09
    1056  2023-08-09      6.089805  1.048953e+08  4.592248e+09
    1057  2023-08-10      6.269968  1.054968e+08  4.728469e+09
    1058  2023-08-10      6.167531  1.060349e+08  4.653914e+09

          price_change_24h  price_change_7d  price_change_30d  \
btc 0                  NaN              NaN               NaN
    1            -1.461100              NaN               NaN
    2            -4.196259              NaN               NaN
    3            -8.138900              NaN               NaN
    4             2.792070              NaN               NaN
...                    ...              ...               ...
uni 1054         -2.330271        -7.484503          8.473440
    1055         -1.248465       -10.393153         11.892847
    1056          3.868476        -8.662432         16.542530
    1057          2.958433         2.009131         19.737506
    1058         -1.633774         1.043033         17.381132

          market_cap_change_24h  market_cap_change_7d  market_cap_change_30d  \
btc 0                       NaN                   NaN                    NaN
    1                 -1.398118                   NaN                    NaN
    2                 -4.287281                   NaN                    NaN
    3                 -8.229953                   NaN                    NaN
    4                  2.863306                   NaN                    NaN
...                         ...                   ...                    ...
uni 1054              -2.278390             -7.372995               8.516803
    1055              -1.304744            -10.588839              11.869465
    1056               3.972844             -8.484591              16.822109
    1057               2.966335              1.990104              19.932192
    1058              -1.576730              0.999931              17.443294

          volume_change_24h  volume_change_7d  volume_change_30d
btc 0                   NaN               NaN                NaN
    1            -13.490363               NaN                NaN
    2             14.813798               NaN                NaN
    3             16.316256               NaN                NaN
    4             16.463814               NaN                NaN
...                     ...               ...                ...
uni 1054          -2.643439        -57.749571         -46.558279
    1055          49.782052        -49.959703          28.449000
    1056           1.221672        -49.471426          80.066600
    1057           0.573465        -32.731772          10.917336
    1058           0.510027        -30.479474          73.739175

[13592 rows x 13 columns]

Retoques

In [13]:
# Redondeo a 2 decimales de price, volume , market_cap, price_change_24h, price_change_7d, price_change_30d, market_cap_change_24h, market_cap_change_7d, market_cap_change_30d, volume_change_24h, volume_change_7d, volume_change_30d
    df['price'] = round(df['price'], 2)
    df['volume'] = round(df['volume'], 2)
    df['market_cap'] = round(df['market_cap'], 2)
    df['price_change_24h'] = round(df['price_change_24h'], 2)
    df['price_change_7d'] = round(df['price_change_7d'], 2)
    df['price_change_30d'] = round(df['price_change_30d'], 2)
    df['market_cap_change_24h'] = round(df['market_cap_change_24h'], 2)
    df['market_cap_change_7d'] = round(df['market_cap_change_7d'], 2)
    df['market_cap_change_30d'] = round(df['market_cap_change_30d'], 2)
    df['volume_change_24h'] = round(df['volume_change_24h'], 2)
    df['volume_change_7d'] = round(df['volume_change_7d'], 2)
    df['volume_change_30d'] = round(df['volume_change_30d'], 2)
    # Cambio a float la columna volume y market_cap
    df['volume'] = df['volume'].astype(float)
    df['market_cap'] = df['market_cap'].astype(float)
    # Cambio el formato cientifico de volume y market_cap
    df['volume'] = df['volume'].apply(lambda x: '{:.0f}'.format(x))
    df['market_cap'] = df['market_cap'].apply(lambda x: '{:.0f}'.format(x))

Resultado

In [14]:
df

           timestamp     price       volume    market_cap  price_change_24h  \
btc 0     2019-08-12  11550.00  23042219585  206323428608               NaN
    1     2019-08-13  11381.24  19933740546  203438784511             -1.46
    2     2019-08-14  10903.65  22886684528  194716791550             -4.20
    3     2019-08-15  10016.22  26620934498  178691691521             -8.14
    4     2019-08-16  10295.88  31003755662  183808182262              2.79
...              ...       ...          ...           ...               ...
uni 1054  2023-08-07      5.94     69186694    4475165405             -2.33
    1055  2023-08-08      5.86    103629249    4416775973             -1.25
    1056  2023-08-09      6.09    104895258    4592247579              3.87
    1057  2023-08-10      6.27    105496796    4728469035              2.96
    1058  2023-08-10      6.17    106034858    4653913864             -1.63

          price_change_7d  price_change_30d  market_cap_change_24h  \
btc 0                 NaN               NaN                    NaN
    1                 NaN               NaN                  -1.40
    2                 NaN               NaN                  -4.29
    3                 NaN               NaN                  -8.23
    4                 NaN               NaN                   2.86
...                   ...               ...                    ...
uni 1054            -7.48              8.47                  -2.28
    1055           -10.39             11.89                  -1.30
    1056            -8.66             16.54                   3.97
    1057             2.01             19.74                   2.97
    1058             1.04             17.38                  -1.58

          market_cap_change_7d  market_cap_change_30d  volume_change_24h  \
btc 0                      NaN                    NaN                NaN
    1                      NaN                    NaN             -13.49
    2                      NaN                    NaN              14.81
    3                      NaN                    NaN              16.32
    4                      NaN                    NaN              16.46
...                        ...                    ...                ...
uni 1054                 -7.37                   8.52              -2.64
    1055                -10.59                  11.87              49.78
    1056                 -8.48                  16.82               1.22
    1057                  1.99                  19.93               0.57
    1058                  1.00                  17.44               0.51

          volume_change_7d  volume_change_30d
btc 0                  NaN                NaN
    1                  NaN                NaN
    2                  NaN                NaN
    3                  NaN                NaN
    4                  NaN                NaN
...                    ...                ...
uni 1054            -57.75             -46.56
    1055            -49.96              28.45
    1056            -49.47              80.07
    1057            -32.73              10.92
    1058            -30.48              73.74

[13592 rows x 13 columns]

Guardo df concatenado en formato pkl para no perder sus propiedades

In [15]:
df.to_pickle('coins.pkl')